body{
  overflow-x: hidden;
  box-sizing: border-box;
}
.header{
  padding: 3px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.menu{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  width: 80%;
  height: 100vh;
  font-weight: bold;
  z-index: 50;
  box-shadow:2px 4px 5px rgba(0, 0, 0, 0.2);
  transition: all ease 2s;
  transition-delay: 1s;
  padding: 6px;
  display: flex;
  flex-direction: column;
}
.menu span{
  padding: 5px;
  border-bottom: 1px solid darkturquoise;
}
.menu ul{
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  left: 0;
  margin-left: -35px;
  width: 100%;
}
.menu ul li{
  padding: 10px;
  border-bottom: 1px solid rgb(113, 159, 160);
  left: 0;
  color: blueviolet;
}
.menuMask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.5);
}
.parentCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  overflow: hidden;
  margin-bottom: 9px;
  /* border: 1px solid darkturquoise; */
  border-radius: 5%;
  height: 50%;
  width: 50%;
}
.footer{
  bottom: 0;
  position: absolute;
  position: fixed;
  padding: 5px;
  text-align: center;
  width: 100vw;
  background-color: darkturquoise;
}